<div class="note">
    <mat-card class="example-card" [style]="backgroundColor">
        <mat-card-title>
            <div style="text-align: center;">
               {{title}}
            </div>
        </mat-card-title>
        <mat-card-content>
            <div style="padding: 25px 50px; margin: auto;">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="text-align: center;">Title</mat-label>
                    <input matInput [value]="this.note?.title" placeholder="Enter title..." (change)="updateTitle($event)"  [disabled]="!editing">
                </mat-form-field>
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Body (max 10000 chars)</mat-label>
                        <textarea maxlength="10000" matInput placeholder="Enter body..." rows="15"
                            (change)="updateBody($event)" [value]="this.note?.body" [disabled]="!editing"></textarea>
                    </mat-form-field>

                </p>
                <table style="width: 100%;">
                    <tr>
                        <td colspan="1" style="width: 15%;">
                            <mat-label>Priority</mat-label>
                        </td>
                        <td colspan="2" style="width: 85%; text-align: right;">
                            <mat-slider style="width: 100%;" thumbLabel tickInterval="1" min="1" max="5" step="1"
                                [value]="this.note?.priority" (change)="setPriority($event)" [disabled]="!editing"></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <app-color-picker style="width: 100%;" (selectColor)="updateBackgroundColor($event)">
                            </app-color-picker>

                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td style="text-align: left;">
                            <button mat-raised-button color="primary" routerLink="/notes">Cancel</button>
                        </td>
                        <td style="text-align: right;">
                            <button mat-raised-button color="primary" (click)="saveNote()">{{buttonText}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>

</div>