.note {
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
form{
  width: 80%;
  margin: auto;
  padding: 30px;
}